<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngFor="let number of numbers">
          <li
            class="list-group-item"
            [ngClass]="{ blue: onlyOdd }"
            [ngStyle]="{ 'background-color': onlyOdd ? 'yellow' : 'white' }"
            *ngIf="onlyOdd ? number % 2 === 1 : number % 2 === 0"
          >
            {{ number }}
          </li>
        </div>
      </ul>
      <div *appUnless="!onlyOdd">
        <p appBasicHighlight>Only odd- basic</p>
        <p [appBetterHighlight]="'red'">Only odd- better using renderer</p>
      </div>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="'1'">this will only show if value is 1</p>
        <p *ngSwitchCase="'2'">this will only show if value is 2</p>
        <p *ngSwitchCase="'3'">this will only show if value is 3</p>
        <p *ngSwitchDefault>
          this will only show if value is other than 1, 2 or 3
        </p>
      </div>
    </div>
  </div>
</div>
