<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngFor="let number of numbers">
          <li
            class="list-group-item"
            [ngClass]="{ blue: onlyOdd }"
            [ngStyle]="{ 'background-color': onlyOdd ? 'yellow' : 'white' }"
            *ngIf="onlyOdd ? number % 2 === 1 : number % 2 === 0"
          >
            {{ number }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p appBasicHighlight>Only odd- basic</p>
        <p [appBetterHighlight]="'red'">Only odd- better using renderer</p>
      </ng-template>
    </div>
  </div>
</div>
